@model IEnumerable<demo.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Product" asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Search Product: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameOrder"]">Product Name</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
